<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Enter Email</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <img src="D:\Change password\Cozentus Logo.png" alt="Cozentus-Logo" />
</head>

<body>
    <form action="/" th:action="@{/}" th:object="${person}" method="post">
    <div class="container d-flex justify-content-center">
        <div class="row  d-flex justify-content-center">
            <div class="col-9  d-flex justify-content-center">
                <div class="card" style="width: 58rem;">

                    <div class="card-body justify-content-center">
                        <h1 class="card-title d-flex justify-content-center">Request
                            Tracking System</h1>
                            <div class='main'>
                                <div>
                                    <h1></h1>
                                    <br> <br>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-3 col-form-label">Username or
                                        Email</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="inputEmail3"
                                            placeholder="Enter your Email" name="username"  th:field="*{Username or Email}" required="required">
                                    </div>
                                </div>
                                
                                    <button id="btn-submit" class="btn btn-success" type="submit"
                                        value="Login">NEXT</button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-danger" id="btn-submit" type="reset"
                                        value="Cancel">CANCEL</button>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button class="action_btn cancel btn btn-link" type="button" value="Cancel">Reset
                                        </button>

                                </div>
                                <br>
                                </div>
                        </form>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>

