<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"></HTML>
<head>
    <Title> CREATE Department </Title>
    <br>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            background-color: lightgreen
        }
    </style>
    <img src="/images/Cozentus Logo.png" alt="Cozentus-Logo" />
</head>

<body>
    <form action="/" th:action="@{/}" th:object="${}" method="post">
        <div class="container d-flex justify-content-center">
            <div class="row  d-flex justify-content-center">
                <div class="col-9  d-flex justify-content-center">
                    <div class="card" style="width: 65rem;">



                        <div class="card-header">

                            <h1 class="card-title d-flex justify-content-center">CREATE Department
                            </h1>

                        </div>

                        <div class="card-body justify-content-center">
                            <div class='main'>
                                <div>
                                    <h1></h1>
                                    <br> <br>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-sm-3 col-form-label">Department code
                                </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="name"
                                        placeholder="Enter your dept code" name="Department Code"
                                        th:field="*{Department Code}" required="required">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="name" class="col-sm-3 col-form-label">Department Name
                                </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="name"
                                        placeholder="Enter your dept code" name="Department Name"
                                        th:field="*{Department Name}" required="required">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-sm-3 col-form-label">Parent Department Code
                                </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="Last Name"
                                        placeholder="Enter your parent dept code" name="Parent Department Code"
                                        th:field="*{Parent DC}" required="required">
                                </div>
                            </div>

                                 <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                  Is Active User
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                  <li><a class="dropdown-item" href="#">True</a></li>
                                  <li><a class="dropdown-item" href="#">False</a></li>
                                </ul>
                              </div> 

<!--                               <div>
                                <p>Is Dept Active:</p>
                                  <label class="radio-inline">
                                    <input type="radio" name="optradio" checked>True
                                  </label>
                                  <label class="radio-inline">
                                    <input type="radio" name="optradio">False
                              </div> -->
                              <br>
                               
                            <div>
                                <button id="btn-submit" class="btn btn-success" type="submit"
                                    value="Login">SAVE</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-danger" id="btn-submit" type="reset"
                                    value="Cancel">CANCEL</button>
                            </div>
                            <br>
    </form>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body> 

</html>
